@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "游ゴシック体", YuGothic;
}

.heading {
  font-size: 36px;
  font-weight: 600;
  text-align: center;
}

@media screen and (max-width: 910px) {
  .heading {
    font-size: 28px;
  }
}

.sheading {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

@media screen and (max-width: 910px) {
  .sheading {
    font-size: 26px;
  }
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

@media screen and (max-width: 910px) {
  .container {
    max-width: 680px;
  }
}

a {
  text-decoration: none;
  color: #1b224c;
}

/* 
    header
*/
.header {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  padding: 0 20px;
  background-color: #FFFFFF;
}

@media screen and (max-width: 1049px) {
  .header__logo {
    z-index: 10;
  }
}

.header__contents {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 1049px) {
  .header__contents {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
}

@media screen and (max-width: 1049px) {
  .header__left {
    width: 100%;
  }
}

.header__left--contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1049px) {
  .header__left--contents {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

@media screen and (max-width: 1049px) {
  .header__left--contents li {
    width: 100%;
    border-top: 1px solid #f8f8f8;
    background-color: #1b224c;
    padding: 30px 0;
  }
  .header__left--contents li:hover {
    opacity: 0.7;
  }
}

.header__left--contents li a {
  display: inline-block;
  width: 100%;
}

@media screen and (max-width: 1049px) {
  .header__left--contents li a {
    color: #FFFFFF;
    height: 100%;
    font-size: 22px;
  }
}

.header__left--contents li:not(:first-child) {
  margin-left: 28px;
}

@media screen and (max-width: 1049px) {
  .header__left--contents li:not(:first-child) {
    margin: 0;
  }
}

@media screen and (max-width: 1049px) {
  .header__left--contents li:last-child {
    border-bottom: 1px solid #f8f8f8;
  }
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1049px) {
  .header__right {
    width: 100%;
    margin-top: 50px;
  }
}

@media screen and (max-width: 1049px) {
  .header__right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header__info {
  text-align: right;
}

@media screen and (max-width: 1049px) {
  .header__info {
    display: none;
  }
}

.header__info--date {
  font-size: 12px;
}

.header__info--number {
  font-weight: bold;
  margin-top: 10px;
}

.header__document {
  padding: 18px 43px;
  background-color: #f5a623;
  color: #FFFFFF;
  border-radius: 5px;
  margin-left: 23px;
}

@media screen and (max-width: 1049px) {
  .header__document {
    width: 100%;
    text-align: center;
    padding: 30px 0;
    font-size: 22px;
    margin: 0;
    border-radius: 0;
  }
  .header__document:hover {
    opacity: 0.7;
  }
}

.header__contact {
  padding: 18px 43px;
  background-color: #1b224c;
  color: #FFFFFF;
  border-radius: 5px;
  margin-left: 10px;
}

@media screen and (max-width: 1049px) {
  .header__contact {
    padding: 30px 0;
    width: 100%;
    text-align: center;
    font-size: 22px;
    margin: 0;
    border-radius: 0;
    border-top: 2px solid #FFFFFF;
  }
  .header__contact:hover {
    opacity: 0.7;
  }
}

.header__barger {
  position: relative;
  right: 50px;
  width: 50px;
  height: 50px;
  display: none;
  z-index: 10;
}

@media screen and (max-width: 1049px) {
  .header__barger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.header__barger span {
  position: absolute;
  right: 10px;
  display: block;
  width: 30px;
  height: 1px;
  background-color: #1b224c;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.header__barger span:nth-of-type(1) {
  top: 25%;
}

.header__barger span:nth-of-type(2) {
  top: 50%;
}

.header__barger span:nth-of-type(3) {
  top: 75%;
}

.header.active .header__barger span:nth-of-type(1) {
  top: 50%;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.header.active .header__barger span:nth-of-type(2) {
  opacity: 0;
}

.header.active .header__barger span:nth-of-type(3) {
  top: 50%;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.header.active .header__contents {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

/* 
kv
*/
.kv {
  background-image: url("../assets/images/kv.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 480px;
  color: #FFFFFF;
  padding-top: 80px;
}

.kv__heading {
  font-size: 48px;
  font-weight: 600;
}

@media screen and (max-width: 910px) {
  .kv__heading {
    font-size: 36px;
  }
}

.kv__description {
  font-size: 18px;
  margin-top: 25px;
  line-height: 30px;
}

@media screen and (max-width: 910px) {
  .kv__description {
    font-size: 16px;
  }
}

.kv__document {
  display: inline-block;
  padding: 22px 95px;
  background-color: #f5a623;
  color: #FFFFFF;
  border-radius: 30px;
  margin-top: 40px;
}

.kv__contact {
  display: inline-block;
  color: #FFFFFF;
  text-decoration: underline;
  margin-top: 22px;
}

.problem {
  padding: 60px 20px;
  background-color: #1b224c;
  color: #FFFFFF;
}

.problem__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-top: 65px;
}

.problem__list li:not(:first-child) {
  margin-left: 30px;
}

.problem__card {
  margin-top: 80px;
  padding: 10px;
  background-color: #FFFFFF;
  color: #1b224c;
  text-align: center;
}

.problem__card--content {
  border: 3px solid #1b224c;
  padding: 20px;
}

.problem__card--title {
  font-size: 36px;
  font-weight: bold;
  line-height: 50px;
}

@media screen and (max-width: 910px) {
  .problem__card--title {
    font-size: 30px;
  }
}

.problem__card--title span {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, transparent), to(#f5a623));
  background: linear-gradient(transparent 70%, #f5a623);
}

.problem__card--text {
  margin-top: 25px;
  line-height: 30px;
}

.strong {
  padding: 60px;
  color: #1b224c;
}

@media screen and (max-width: 910px) {
  .strong__card:nth-child(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.strong__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 60px;
}

@media screen and (max-width: 910px) {
  .strong__card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 2px solid #d5d5d5;
    border-radius: 10px;
    -webkit-box-shadow: 2px 2px 4px #d5d5d5;
            box-shadow: 2px 2px 4px #d5d5d5;
  }
}

.strong__card--textarea {
  width: 400px;
}

@media screen and (max-width: 910px) {
  .strong__card--textarea {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    padding: 30px;
  }
}

.strong__card--topic {
  width: 90px;
  line-height: 30px;
  text-align: center;
  font-size: 12px;
  background-color: #f5a623;
  color: #FFFFFF;
}

.strong__card--title {
  font-size: 26px;
  font-weight: bold;
  line-height: 40px;
  margin-top: 25px;
}

.strong__card--text {
  margin-top: 25px;
  line-height: 27px;
}

.strong img {
  width: 350px;
  height: 240px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 910px) {
  .strong img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}

.strong__plan {
  background-image: url("../assets/images/price.jpg");
  background-repeat: no-repeat;
  padding: 60px 0;
  margin-top: 90px;
  text-align: center;
  color: #FFFFFF;
}

.strong__plan--title {
  font-size: 26px;
}

.strong__plan--value {
  display: inline-block;
  color: #FFFFFF;
  margin-top: 30px;
  padding: 18px 44px;
  border: 1px solid #FFFFFF;
  border-radius: 30px;
}

.example {
  padding: 60px 0;
  background-color: #1b224c;
  color: #FFFFFF;
}

.example__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 140px;
}

@media screen and (max-width: 910px) {
  .example__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 80px;
  }
}

.example__card {
  -ms-flex-preferred-size: 280px;
      flex-basis: 280px;
}

@media screen and (max-width: 910px) {
  .example__card {
    width: 100%;
    margin-top: 30px;
    text-align: center;
  }
}

.example__card--text {
  line-height: 30px;
}

.example__card img {
  margin-top: 10px;
}

.example__card--detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15px;
}

@media screen and (max-width: 910px) {
  .example__card--detail {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.example__card--work {
  width: 90px;
  line-height: 32px;
  padding-left: 10px;
  background-color: #FFFFFF;
  color: #1b224c;
}

.example__card--name {
  width: 160px;
  padding-left: 10px;
  color: #1b224c;
  background-color: #FFFFFF;
  line-height: 32px;
}

@media screen and (max-width: 910px) {
  .example__card--name {
    margin-left: 10px;
  }
}

.example__card--description {
  margin-top: 15px;
  width: 270px;
  line-height: 32px;
  padding-left: 10px;
  color: #1b224c;
  background-color: #FFFFFF;
}

@media screen and (max-width: 910px) {
  .example__card--description {
    margin: 0 auto;
    margin-top: 10px;
  }
}

.flow {
  padding: 60px 30px;
  color: #1b224c;
}

.flow__list {
  margin-top: 50px;
}

.flow__list--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f8f8f8;
}

.flow__list--item:not(:first-child) {
  margin-top: 10px;
}

.flow__list--number {
  width: 64px;
  line-height: 64px;
  background-color: #f5a623;
  color: #FFFFFF;
  text-align: center;
}

.flow__list--title {
  width: 210px;
  font-size: 18px;
  font-weight: bold;
  margin-left: 20px;
}

.flow__list--bar {
  width: 1px;
  height: 30px;
  background-color: #707070;
}

.flow__list--text {
  width: 60%;
  margin-left: 54px;
  line-height: 20px;
}

.question {
  padding: 0 30px;
}

.question__list {
  margin-top: 30px;
  font-size: 12px;
  color: #1b224c;
  border-bottom: 3px solid #d5d5d5;
}

.question__list--item {
  height: 80px;
  border-top: 3px solid #d5d5d5;
}

.question__list--item.active .question__puras {
  display: none;
}

.question__list--item.active .question__mainas {
  display: block;
}

.question__list--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.question__list--content img {
  margin-right: 15px;
}

.question__answer {
  display: none;
  padding: 30px;
  background-color: #f8f8f8;
}

.question__answer p {
  font-size: 12px;
}

.question__mainas {
  display: none;
}

.info {
  margin-top: 90px;
}

.info__heading {
  font-size: 32px;
  font-weight: bold;
}

.info .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 910px) {
  .info .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.blog__list {
  margin-top: 30px;
}

.blog__list--item {
  width: 430px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog__list--category {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  line-height: 25px;
  text-align: center;
  font-size: 12px;
  color: #FFFFFF;
  background-color: #1b224c;
}

.blog__list--image {
  margin-right: 20px;
}

.blog__list--image img {
  width: 150px;
  height: 110px;
}

.blog__list--text {
  font-weight: bold;
  text-decoration: underline;
  line-height: 30px;
}

.blog__list--date {
  position: absolute;
  bottom: 0;
  font-size: 12px;
}

.news {
  width: 430px;
}

@media screen and (max-width: 910px) {
  .news {
    margin-top: 50px;
  }
}

.news__list {
  margin-top: 30px;
}

.news__list--date {
  font-size: 12px;
}

.news__list--text {
  display: block;
  margin-top: 15px;
  text-decoration: underline;
}

.bill {
  padding: 50px 0;
  margin-top: 60px;
  color: #FFFFFF;
  background-image: url("../assets/images/cta.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.bill a {
  display: block;
  color: #FFFFFF;
  text-align: center;
}

.bill__document {
  width: 280px;
  line-height: 50px;
  background-color: #f5a623;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 30px;
}

.bill__contact {
  margin-top: 20px;
  color: #f8f8f8;
  text-decoration: underline;
}

.form {
  padding: 25px 30px;
  text-align: center;
}

.form__number {
  font-size: 36px;
}

@media screen and (max-width: 910px) {
  .form__number {
    font-size: 28px;
  }
}

.form__date {
  font-size: 12px;
}

.footer {
  padding: 40px 30px;
  margin-top: auto;
  background-color: #1b224c;
  color: #FFFFFF;
}

.footer__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 680px) {
  .footer__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: 20px;
  }
}

.footer__nav--item {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.footer__nav--item:not(:first-child) {
  border-left: 1px solid #d5d5d5;
  padding-left: 10px;
  margin-left: 10px;
}

@media screen and (max-width: 680px) {
  .footer__nav--item:not(:first-child) {
    border: none;
    margin: 0;
    padding: 0;
    margin-top: 10px;
  }
}

.footer__nav--item a {
  display: inline-block;
  color: #FFFFFF;
}

.footer__info {
  text-align: right;
}

.footer__info--contact {
  margin-top: 20px;
}

.footer__info--date {
  margin-top: 15px;
  font-size: 12px;
}

.footer__copylight {
  text-align: right;
  padding: 20px 30px;
  font-size: 12px;
}

.subkv {
  background-image: url("../assets/images/plan.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 80px;
}

.subkv h2 {
  color: #FFFFFF;
}

.bread {
  background-color: #f8f8f8;
  height: 50px;
  padding: 0 20px;
}

.bread--container {
  max-width: 900px;
  height: 100%;
  margin: 0 auto;
}

.bread--contents {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.money {
  padding: 60px 30px;
}

.money__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 60px;
}

.money__card--join {
  width: 280px;
  line-height: 80px;
  background-color: #1b224c;
  color: #FFFFFF;
  text-align: center;
  font-size: 22px;
}

.money__card span {
  font-size: 40px;
  text-align: center;
  margin: 0 30px;
}

.money__description {
  margin-top: 50px;
  line-height: 30px;
}

.money__table {
  margin-top: 90px;
}

.money__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 80px;
}

@media screen and (max-width: 910px) {
  .money__contents {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.money__plan {
  width: 220px;
  border: 1px solid #d5d5d5;
}

@media screen and (max-width: 910px) {
  .money__plan {
    width: 100%;
    border-radius: 10px;
    -webkit-box-shadow: 2px 2px 4px #d5d5d5;
            box-shadow: 2px 2px 4px #d5d5d5;
  }
  .money__plan:not(:first-child) {
    margin-top: 30px;
  }
}

.money__plan--title {
  color: #FFFFFF;
  background-color: #1b224c;
  text-align: center;
  padding: 20px;
}

@media screen and (max-width: 910px) {
  .money__plan--title {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}

.money__plan--details {
  height: 350px;
  padding: 30px 25px;
  text-align: center;
  color: #1b224c;
}

@media screen and (max-width: 910px) {
  .money__plan--details {
    height: 300px;
  }
}

.money__plan--price {
  font-size: 25px;
}

.money__plan--month {
  margin-top: 20px;
}

.money__plan--list {
  margin-top: 40px;
}

.money__plan--list li:not(:first-child) {
  margin-top: 20px;
}

.money__plan--recommend {
  background-color: #f5a623;
}

.money__plan--yellow {
  color: #f5a623;
}

.blogkv {
  background-image: url("../assets/images/blog.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 80px;
}

.blogkv h2 {
  color: #FFFFFF;
}

.notion {
  padding: 60px 30px;
  padding-bottom: 0;
}

.notion__list {
  margin-top: 60px;
}

.notion__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 910px) {
  .notion__list li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid #1b224c;
    border-radius: 10px;
    -webkit-box-shadow: 2px 2px 2px #d5d5d5;
            box-shadow: 2px 2px 2px #d5d5d5;
  }
  .notion__list li:hover {
    opacity: 0.7;
  }
}

.notion__list li:not(:first-child) {
  margin-top: 60px;
}

.notion__list--left {
  position: relative;
}

@media screen and (max-width: 910px) {
  .notion__list--left {
    width: 100%;
  }
}

.notion__list--left img {
  width: 240px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 910px) {
  .notion__list--left img {
    width: 100%;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}

.notion__list--left span {
  color: #FFFFFF;
  background-color: #1b224c;
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
  font-size: 12px;
}

@media screen and (max-width: 910px) {
  .notion__list--left span {
    top: auto;
    bottom: 3px;
    padding: 10px 30px;
    font-weight: bold;
    background-color: #f5a623;
  }
}

.notion__list--right {
  margin-left: 50px;
}

@media screen and (max-width: 910px) {
  .notion__list--right {
    padding: 30px;
  }
}

.notion__list--date {
  font-size: 12px;
}

.notion__list--title {
  display: block;
  margin-top: 20px;
  font-size: 26px;
  font-weight: bold;
  text-decoration: underline;
}

.notion__list--description {
  margin-top: 20px;
  line-height: 30px;
}

.indicator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 60px;
}

.indicator li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  color: #FFFFFF;
  background-color: #1b224c;
}

.indicator li:not(:first-child) {
  margin-left: 10px;
}

.indicator p {
  margin-left: 10px;
}

.blogDetail {
  color: #1b224c;
  padding: 60px 30px;
}

.blogDetail .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.main__category {
  width: 110px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #FFFFFF;
  font-size: 12px;
  background-color: #1b224c;
}

.main__title {
  margin-top: 40px;
  font-size: 28px;
  font-weight: bold;
}

.main__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
}

.main__sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__sns img:not(:first-child) {
  margin-left: 10px;
}

.main__date {
  font-size: 12px;
}

.main__image {
  margin-top: 40px;
}

@media screen and (max-width: 910px) {
  .main__image img {
    width: 100%;
  }
}

.main__retitle {
  margin-top: 40px;
  font-weight: bold;
  font-size: 26px;
}

.main__recommend {
  margin-top: 40px;
}

.main__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__item--left {
  position: relative;
}

.main__item--left img {
  width: 210px;
  height: 130px;
}

.main__item--left p {
  position: absolute;
  top: 0;
  left: 0;
  color: #FFFFFF;
  font-size: 12px;
  background-color: #1b224c;
  width: 80px;
  line-height: 30px;
  text-align: center;
}

.main__item--right {
  margin-left: 30px;
}

.main__item--right p {
  font-size: 12px;
}

.main__item--right a {
  display: inline-block;
  font-weight: bold;
  margin-top: 30px;
  text-decoration: underline;
}

.sidebar {
  width: 270px;
  margin-left: 40px;
}

@media screen and (max-width: 910px) {
  .sidebar {
    display: none;
  }
}

.sidebar__title {
  width: 100%;
  line-height: 60px;
  text-align: center;
  background-color: #1b224c;
  color: #FFFFFF;
  font-size: 18px;
}

.sidebar__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.sidebar__article img {
  width: 100px;
  height: 70px;
}

.sidebar__article a {
  display: inline-block;
  font-size: 12px;
  margin-left: 20px;
  text-decoration: underline;
}

.sidebar__category {
  margin-top: 30px;
}

.sidebar__category--list {
  margin-top: 30px;
  list-style: inside;
  font-weight: bold;
}

.sidebar__category--list li:not(:first-child) {
  margin-top: 10px;
}

.infokv {
  background-image: url("../assets/images/news.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 80px;
}

.infokv h2 {
  color: #FFFFFF;
}

.notice {
  color: #1b224c;
  padding: 0 30px;
}

.notice__list {
  margin-top: 60px;
}

.notice__list--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 20px 0;
  border-top: 1px solid #d5d5d5;
}

.notice__list--item:last-child {
  border-bottom: 1px solid #d5d5d5;
}

.notice__list--date {
  font-size: 12px;
}

.notice__list--text {
  display: inline-block;
  margin-left: 40px;
  text-decoration: underline;
}

.contactkv {
  background-image: url("../assets/images/cta.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 80px;
}

.contactkv h2 {
  color: #FFFFFF;
}

.contact {
  padding: 60px 30px;
  color: #1b224c;
}

.contact__message {
  margin-top: 50px;
  line-height: 30px;
}

.complete {
  text-align: center;
  color: #1b224c;
  padding: 60px;
}

.complete a {
  display: inline-block;
  margin-top: 80px;
  text-decoration: underline;
}

.news__contents {
  padding: 80px 30px;
  margin-top: 100px;
}
