$color-smoke: #f8f8f8;
$color-gray: #d5d5d5;
$color-yellow: #f5a623;
$color-navy: #1b224c;

$heading-large: 48px;
$heading-middle: 36px;
$heading-small: 26px;

$font-normal: 16px;
$font-article: 18px;
$font-minimum: 12px;

$font-family: "游ゴシック体", YuGothic;
